<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="view = CalendarView.Month"
        [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="view = CalendarView.Week"
        [class.active]="view === CalendarView.Week">
        Week
      </div>
    </div>
  </div>
</div>
<br>
<br>


<div [ngSwitch]="view">
  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top" (click)="openDialog(day.date, null)">
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div class="cell-template" *ngIf="day.events.length > 0">
      <div class="show-events"
           *ngFor="let event of day.events"> {{event.title}}
        <button  class="edit-button" (click)="handleEvent('Clicked',event)"><i class="fas fa-pen"></i></button>
        <button  class="delete-button" (click)="deleteEvents(event.id)"><i class="fas fa-trash-alt"></i></button>
      </div>
    </div>
  </ng-template>
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    [cellTemplate]="customCellTemplate"
    [weekStartsOn]="1"
   >
  </mwl-calendar-month-view>



  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [weekStartsOn]="1"
    [dayStartHour]="8"
    [dayEndHour]="22"
    >
  </mwl-calendar-week-view>
  <button
    class="btn btn-primary pull-right"
    (click)="openDialog()">
    Add interview
  </button>
</div>


<ng-template #weekTemplate let-day="day">
  <div class="cell-template" *ngIf="day.events.length > 0">
    <div class="show-events"
         *ngFor="let event of day"> {{event.title}}
      <button  class="edit-button" (click)="handleEvent('Clicked',event)"><i class="fas fa-pen"></i></button>
      <button  class="delete-button" (click)="deleteEvents(event.id)"><i class="fas fa-trash-alt"></i></button>
    </div>
  </div>
</ng-template>
