<div class="title">Contacts:</div>
<div class="phone">
  <p>Phone: {{ phone }}</p>
  <p class="spacer"></p>
  <add-info (saveInputText)="getPhoneFromInput($event)"></add-info>
</div>

<div class="mail">
  <p>Mail: {{ mail }}</p>
  <p class="spacer"></p>
  <add-info (saveInputText)="getMailFromInput($event)"></add-info>
</div>

<div class="other">
  <p>Other contacts: {{ otherContacts }}</p>
  <p class="spacer"></p>
  <add-info (saveInputText)="getOtherContactsFromInput($event)"></add-info>
</div>
