<div class="main">

  <div class = holder>
    <div class="candidate-info">
      <app-photo></app-photo>
      <app-desc></app-desc>
    </div>
  </div>

  <div class="timeline">
    <app-assign-interview-button (myEvent)="com.refreshing()" addInterview [personId]="personId"></app-assign-interview-button>
    <app-app-add-experience-info-button></app-app-add-experience-info-button>
    <app-add-note-button [personId]="personId"></app-add-note-button>
    <app-time-line-list #com [personId]="personId"></app-time-line-list>
  </div>

</div>
