<div class="main-table">
  <div class="col-xs-8 col-xs-offset-2" class="card" *ngFor="let item of candidatesService.candidatesList">
    <form>
      <table border="0" cellpadding="10">
        <tr>
          <td rowspan="3" class="img-cell">
            <img src="../../../assets/icons/face.svg">
          </td>
          <td class="small-cell">
            <div class="form-row">
              <div class="col">
                <label>{{ item.candidateName }}</label>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="small-cell">
            <div class="form-row">
              <div class="col">
                <label>{{ item.position }}</label>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td class="small-cell">
            <div class="form-row">
              <div class="col">
                <label>{{ item.phone }}</label>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
