.header {
  width: 100%;
  min-height: 40px;
}

.candidate-info {
  display: flex;

  width: 55%;
  min-height: 70px;

  margin: auto;
  padding: 0 10px;
  padding-left: 80px;
}

.component {
  justify-content: center;

  margin: 20px auto;
  width: 55%;
  min-height: 100px;
}

.title-component {
  display: flex;
  justify-content: start;
  height: 25px;
}

.block {
  width: 100%;
  min-height: 70px;
  border: 2px solid black;
  border-radius: 5px;
}


