<router-outlet></router-outlet>
<div class="header"></div>

<div class="candidate-info">
  <app-photo></app-photo>
  <app-desc></app-desc>
</div>

<div class="component" id="contacts-list">
  <p class="title-component">Contacts:</p>
  <div class="block">
    <inputdialog></inputdialog>
  </div>
</div>

<div class="component" id="cvs-list">
  <p class="title-component">CVs:</p>
  <div class="block">
    There is nothing
  </div>
</div>

<div class="component">
  <p class="title-component">Experience:</p>
  <div class="block">
    There is nothing
  </div>
</div>

<div class="component">
  <p class="title-component">Notes:</p>
  <div class="block">
    There is nothing
  </div>
</div>
