.header {
  width: 100%;
  min-height: 50px;
  background-color: whitesmoke;
}

.main {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.holder {
  padding-left: 5em;
}

.candidate-info {
  display: flex;
  flex-wrap: wrap;
  position: -ms-device-fixed;

  width: 30%;
  margin-left: 7%;
}

app-contacts {
  padding-left: 35px;
  margin-top: 35px;
}

.timeline {
  width: 95%;
  margin-right: 7%;
  border: 1px solid black;
  border-radius: 15px;
}

.notes {
  margin: 10px;
  height: 2em;
}
