.header {
  width: 100%;
  min-height: 50px;
  background-color: whitesmoke;
}

.candidate-info {
  display: flex;
  flex-wrap: wrap;

  width: 30%;

  margin-left: 15%;
}

app-contacts {
  padding-left: 35px;
  margin-top: 35px;
}

