<router-outlet></router-outlet>
<div class="header"></div>

<div class="candidate-info">
  <app-photo></app-photo>
  <app-desc></app-desc>
</div>

<div class="component" id="contacts-list">
  <div class="add-smth-btn">
    <app-create-item-text></app-create-item-text>
  </div>

  <div class="holder">
    <p class="title-component">Contacts:</p>
    <div class="block">
      <inputdialog></inputdialog>
    </div>
  </div>
</div>

<div class="component" id="cvs-list">
  <div class="add-smth-btn">
    <app-create-item-text></app-create-item-text>
  </div>

  <div class="holder">
    <p class="title-component">CVs:</p>
    <div class="block">
      There is nothing
    </div>
  </div>
</div>

<div class="component">
  <div class="add-smth-btn">
    <app-create-item-text></app-create-item-text>
  </div>

  <div class="holder">
    <p class="title-component">Experience:</p>
    <div class="block">
      There is nothing
    </div>
  </div>
</div>

<div class="component">
  <div class="add-smth-btn">
    <app-create-item-text></app-create-item-text>
  </div>

  <div class="holder">
    <p class="title-component">Notes:</p>
    <div class="block">
      There is nothing
    </div>
  </div>
</div>
