<table class="table table-borderless">
  <tr>
    <td *ngIf="!canInput">{{currentDate}}</td>
    <td>
      <div class="col-xs-8 col-xs-offset-2">
        <h4>Experience</h4>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="form-row">
            <div class="col">
              <label>Company name:</label>
            </div>
              <input type="text" class="form-control" formControlName="companyName" [readonly]="!canInput">
          </div>

          <div class="form-row">
            <div class="col">
              <label>Years of work:</label>
            </div>
            <input type="text" class="form-control" formControlName="yearsOfWork" [readonly]="!canInput">
          </div>

          <div class="form-row">
            <div class="col">
              <label>Position:</label>
            </div>
            <input type="text" class="form-control" formControlName="position" [readonly]="!canInput">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Comments:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="comments"
                      [readonly]="!canInput"></textarea>
          </div>

          <button *ngIf="canInput" class="btn btn-primary" (click)="onSaveEdit()">Save</button>
          <button *ngIf="!canInput" class="btn btn-primary" (click)="onSaveEdit()">Edit</button>
        </form>
      </div>
    </td>
  </tr>
</table>
