<div class="filter">
  <h4>Filter of candidates:</h4>

  <form class="filter-form">
    <br>
    <label>
      <input type="checkbox" />
      <span>Angular</span>
    </label><br>

    <label>
      <input type="checkbox" />
      <span>React</span>
    </label><br>

    <label>
      <input type="checkbox" />
      <span>Vue</span>
    </label><br>

    <label>
      <input type="checkbox" />
      <span>JS, TS</span>
    </label><br>

    <label>
      <input type="checkbox" />
      <span>HTML, CSS</span>
    </label><br>

    <label>
      <input type="checkbox" />
      <span>PHP</span>
    </label><br>

    <label>
      <input type="checkbox" />
      <span>Java</span>
    </label><br>

    <button class="waves-effect waves-light btn">Apply</button>
  </form>
</div>
