<div class="filter">
  Filter of candidates:
  <form class="filter-form">
    <label>
      <input type="checkbox" />
      <span>Angular</span>
    </label><br>

    <label>
      <input type="checkbox" />
      <span>React</span>
    </label><br>

    <label>
      <input type="checkbox" />
      <span>Vue</span>
    </label><br>

    <label>
      <input type="checkbox" />
      <span>JS, TS</span>
    </label><br>

    <label>
      <input type="checkbox" />
      <span>HTML, CSS</span>
    </label><br>

    <label>
      <input type="checkbox" />
      <span>PHP</span>
    </label><br>

    <label>
      <input type="checkbox" />
      <span>Java</span>
    </label>
  </form>
</div>
