<div class="main-table">
  <tr>
    <td class="sort">
      <div class="form-row">
        <h4>Show vacancies:</h4>
      </div>

      <div class="form-row">
        <h6>With status:</h6>
      </div>

      <div class="form-row">
        <table class="status-table">

          <tr>
            <td class="status-table-item">
              <button class="checkbox icon" (click)="toggle(labelOpened.textContent); statusToShow()">
                <i class="material-icons">{{ showOpened ? 'check_box' : 'check_box_outline_blank' }}</i>
              </button>
            </td>
            <td><label #labelOpened>opened</label></td>
          </tr>

          <tr>
            <td class="status-table-item">
              <button class="checkbox icon" (click)="toggle(labelSuspended.textContent); statusToShow()">
                <i class="material-icons">{{ showSuspended ? 'check_box' : 'check_box_outline_blank' }}</i>
              </button>
            </td>
            <td><label #labelSuspended>suspended</label></td>
          </tr>

          <tr>
            <td class="status-table-item">
              <button class="checkbox icon" (click)="toggle(labelCanceled.textContent); statusToShow()">
                <i class="material-icons">{{ showCanceled ? 'check_box' : 'check_box_outline_blank' }}</i>
              </button>
            </td>
            <td><label #labelCanceled>canceled</label></td>
          </tr>

          <tr>
            <td class="status-table-item">
              <button class="checkbox icon" (click)="toggle(labelClosed.textContent); statusToShow()">
                <i class="material-icons">{{ showClosed ? 'check_box' : 'check_box_outline_blank' }}</i>
              </button>
            </td>
            <td><label #labelClosed>closed</label></td>
          </tr>

        </table>
      </div>
    </td>

    <td class="card-list">
      <div class="col-xs-8 col-xs-offset-2" class="card" *ngFor="let item of vacancies; let i = index;">
        <form>
          <table border="0" cellpadding="10">
            <tr>
              <td class="small-cell">
                <div class="form-row">
                  <div class="col">
                    <h4>{{ item.vacancyName }}</h4>
                  </div>
                </div>
              </td>
              <td class="button-cell">
                <button (click)="openDialog('Vacancy info', 'readEdit', i)" class="btn btn-small">More info</button>
              </td>
            </tr>

            <tr>
              <td class="small-cell">
                <div class="form-row">
                  <div class="col">
                    <label>Vacancy status: {{ item.vacancyStatus }}</label>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </form>
      </div>

      <div class="col-xs-8 col-xs-offset-2" class="add-vacancy-card">
        <form>
          <table border="0" cellpadding="10">
            <tr>
              <td class="add-vacancy-small-cell">
                <div class="form-row">
                  <div class="col add-vac">
                    <h4 class="add-vacancy-label">Add new vacancy</h4>
                  </div>
                </div>
              </td>
              <td>
                <button class="add icon" (click)="openDialog('Add new vacancy', 'create', -1)">
                  <i class="material-icons">add</i>
                </button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </td>
  </tr>
</div>
