<table class="table table-borderless">
  <tr>
    <td *ngIf="!canInput">{{currentDate}}</td>
    <td>
      <div class="col-xs-8 col-xs-offset-2">
        <h4>Note</h4>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="form-row">
            <div class="col">
              <label>When:</label>
            </div>
            <input type="text" class="form-control" formControlName="when" [readonly]="!canInput">
          </div>

          <div class="form-row">
            <div class="col">
              <label>Author:</label>
            </div>
            <input type="text" class="form-control" formControlName="whoConducts" [readonly]="!canInput">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Note:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="comments"
                      [readonly]="!canInput"></textarea>
          </div>

          <button *ngIf="canInput" class="btn btn-primary" type="submit">Save</button>
          <button *ngIf="!canInput" class="btn btn-primary" type="submit">Edit</button>
        </form>
      </div>
    </td>
  </tr>
</table>
