@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
  margin: 0;
  padding: 0;

  font-family: "Tahoma", sans-serif;
  font-size: 16px;
}
.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.mat-dialog-content {
  overflow: unset!important;
}
.mat-form-field-infix {
  width: 800px!important;
}

.btn-primary, .btn {
  margin-top: 15px;
  color: #fff;
  background-color: #ee555b!important;
  border: none!important;
}
.btn.btn-primary.active {
  background-color: #eea1a2 !important;
}
.ui-datepicker {
  top: -349px!important;
}
.ui-inputtext {
  width: 800px!important;
  margin-left: 15px!important;
}
.ui-calendar-button {
  top: -42px!important;
  left: -19px!important;
  background-color: #eea1a2!important;
  border-color: #ee6e73!important;
}
.mat-form-field-underline {
  background-color: transparent!important;
}
